@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /*colors*/
  --bg-primary: #202122;
  --bg-accent: #3C3D3E;
  --primary-accent: #9400d3;
  --primary-accent-hover: #720099;
  --primary-gray: #888888;

  /*fonst*/
  --montserrat: font-family: 'Montserrat', sans-serif;
  --raleway: font-family: 'Raleway', sans-serif;
}
